*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
/.bundle
/vendor/bundle
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
/coverage
*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/lib/bundler/man/
.DS_Store
*.sassc
*.DS_Store
.sass-cache
.rvmrc
/test
/config/*.yml
*.log
/tmp/*
!/tmp/.keep
*.keep
.vscode/

# Ignore uploaded files in development
/storage/*
!/storage/.keep


# misc
/db/schema.rb
/db/secret.txt
.byebug_history
.idea
.vscode
/node_modules
/yarn-error.log

/public/*
# Ignore master key for decrypting credentials and more.
/config/master.key
*.psql
*.sql
