<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
      <th scope="col">Total Transaction Sum</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <%= render 'row', merchant: merchant %>
    <% end %>
  </tbody>
</table>
