<table class="table">
  <thead>
    <tr>
      <th scope="col">#UUID</th>
      <th scope="col">Customer Email</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <%= render 'row', transaction: transaction %>
    <% end %>
  </tbody>
</table>
